body {
    padding: 0;
    margin: 0;
}

.ImageList {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.ImageList-item {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.ImageList-image {
    display: block;
    width: 100px;
    height: auto;
}